* {
    /* background-color: black; */
    padding: 0;
    margin: 0;
}

h2 {
    /* color: white; */
    text-align: center;
    margin-top: 10%;
}

h4 {
    /* color: white; */
    text-align: center;
}
th{
  text-align: center;

}
table{
    border: 5px solid red;
    text-align: center;
}
td{
    margin-left: 100px;

}
input {
    /* color: white; */
    border-radius: 50px;
    margin-left: 150px;
}

button {
    /* color: white; */
     margin-top: 50px;
    margin-left: 470%; 
    border: 2px solid blue;
    background-color: blue;
    border-radius: 20px;
    width: 95px;
    height: 30px;
}